<h1>Editing contact</h1>

<% form_for(@contact) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :timeframe %><br />
    <%= f.text_field :timeframe %>
  </p>
  <p>
    <%= f.label :interest %><br />
    <%= f.text_field :interest %>
  </p>
  <p>
    <%= f.label :mailinglist %><br />
    <%= f.check_box :mailinglist %>
  </p>
  <p>
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @contact %> |
<%= link_to 'Back', contacts_path %>