<% content_for :title do %><%=h @seo_profile.title %><% end %>
<% content_for :seo_keywords do %><%=h @seo_profile.keywords %><% end %>
<% content_for :seo_description do %><%=h @seo_profile.description %><% end %>
<% content_for :seo_heading do %><%=h @seo_profile.heading %><% end %>
<% content_for :body_class do %>about-page<% end %>
<%= image_tag "about.jpg", :size => "480x318", :id => "about-photo" %>
<div id="about-text">
	<p>Although I was born and educated in London, I&rsquo;ve lived and worked in New York and Boston and now home is Capitol Hill Washington DC. During my 18 years as a professional photographer, I&rsquo;ve traveled the world and been lucky enough to photograph an amazing variety of life&rsquo;s moments&hellip;from birth to burial. I&rsquo;ve photographed Shaman medicine men in remote parts of the Indonesian rainforest; pink dolphins in the Amazon River; political dignitaries and events of every kind. I am very lucky and I love what I do.</p>
	<p>I have a strong professionally skilled work ethic combined with a flexible working style. My eye for detail, visual sensibility and passion are combined to create remarkable results. I&rsquo;m energetic, determined and fun to work with.</p>
</div>