<% content_for :title do %><%=h @seo_profile.title %><% end %>
<% content_for :seo_keywords do %><%=h @seo_profile.keywords %><% end %>
<% content_for :seo_description do %><%=h @seo_profile.description %><% end %>
<% content_for :seo_heading do %><%=h @seo_profile.heading %><% end %>
<% content_for :body_class do %>services-page<% end %>

<div id="scroll-container">
	<div id="scroll-content">
		<div id="scroll-content-wrapper">
			<div id="tabs">
				<ul id="tabs-menu" class="service<%=  "-admin-menu" if authorized? %>">
					<% @services.each do |service| %>
					  <li id="service_<%= service.id%>">
					  	<% if authorized? %>
				          <div class="service_admin" style="display: none;">
					        <%= image_tag('pencil.png', :size => '16x16', :onclick => "javascript:window.location.href ='#{edit_service_url(service)}'; return false;", :alt => 'Edit Service') %>
					        <%= image_tag('fail.png', :size => '16x16', :onclick => "deleteService('#{service_path(service)}')", :alt => 'Delete Service')%>
					        <%= image_tag('drag_handle.png', :size => '16x16', :class => 'service_menu_drag_handle') %>
				          </div>
			            <% end %>
			            <%= link_to("<span>#{service.photography_type.titleize}</span>", "##{service.type_class}")%>
			          </li>
					<%- end %>
				</ul>
				<% @services.each do |service| %>
				  <div id="<%= service.type_class %>" class="service<%=  "-admin-content" if authorized? %>">
				  	  <% if authorized? %>
				          <div class="service_content" style="display: none;">
					        <%= image_tag('pencil.png', :size => '16x16', :onclick => "javascript:window.location.href ='#{edit_service_url(service)}'; return false;", :alt => 'Edit Service') %>
					        <%= image_tag('fail.png', :size => '16x16', :onclick => "deleteService('#{service_path(service)}')", :alt => 'Delete Service')%>
					        <%= image_tag('drag_handle.png', :size => '16x16', :class => 'service_menu_drag_handle') %>
				          </div>
			          <% end %>
				      <%= service.content %>
				  </div>
				<%- end %>
			</div>
		</div>
	</div>
	<div id="scroll-controls">
		<%= image_tag 'arrow-up.gif', :size => "17x36", :alt => "scroll up", :id => "scroll_up" %>
		<%= image_tag 'arrow-down.gif', :size => "17x36", :alt => "scroll down", :id => "scroll_down" %>
	</div>
</div>

<% content_for :page_js do %>
	<%= javascript_include_tag 'scroll' %>
<% end %>